.Names {
  display: flex;
  flex-wrap: wrap;
  gap: 4;
}

.Name {
  width: 100%;
}

.Name.Mentor {
  width: 50%;
}

.Name h3 {
  margin-bottom: 0;
}

.Name p {
  margin: 0.25rem 0;
  margin-bottom: 1.5rem;
}

/* MD */
@media (min-width: 730px) {
  .Name {
    width: 50%;
  }
  .Name.Mentor {
    width: 33%;
  }
}
/* LG */
@media (min-width: 1280px) {
  .Name {
    width: 33%;
  }
  .Name.Mentor {
    width: 25%;
  }
}
