.introduction {
  margin: 4rem auto;
}

.introduction h1 {
  line-height: 1.4;
  font-weight: 600;
  color: white;
}

.introduction a {
  color: white;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.introduction a:hover {
  text-decoration: underline;
}

.logo {
  width: 15rem;
  display: block;
}

.whiteText {
  color: white;
}

a.whiteText {
  text-decoration: underline;
  text-underline-offset: 1px;
  transition: text-underline-offset ease-in-out 0.2s;
}

a.whiteText:hover {
  text-underline-offset: 4px;
  text-decoration: underline;
}

.mt {
  margin: 4rem auto;
}

.mb {
  margin-bottom: 2rem;
}

.body {
  background: white;
  color: black;
  padding: 4rem;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.Footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.FooterRight {
  text-align: left;
}

.Center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeadspaceButton {
  padding: 0.5rem 1.75rem;
  background: #57a716;
  border-radius: 50px;
  line-height: 0;
}

.HeadspaceButton:hover {
  background: #77be3d;
}

/* SM */
@media (min-width: 480px) {
  .heroText {
    color: #fff !important;
    font-size: 2.5rem !important;
    line-height: 1.2 !important;
  }

  .heroSection {
    margin: 4rem 0;
  }
}
/* MD */
@media (min-width: 730px) {
  .heroText {
    color: #fff !important;
    font-size: 2.5rem !important;
    line-height: 1.2 !important;
  }
  .heroSection {
    margin: 4rem 0;
  }
  .Footer {
    flex-direction: row;
  }
  .FooterRight {
    text-align: right;
  }
  .header {
    align-items: center;
    flex-direction: row;
  }
}
/* LG */
@media (min-width: 1280px) {
  .heroText {
    color: #fff !important;
    font-size: 2rem !important;
    line-height: 1.4 !important;
    margin-bottom: 2rem;
  }
  .heroSection {
    margin: 4rem 0;
  }
}
