.introduction {
  margin: 4rem auto;
}

.introduction h1 {
  line-height: 1.4;
  font-weight: 600;
  color: white;
}

.introduction a {
  color: white;
  display: flex;
  align-items: center;
}

.introduction a:hover {
  text-decoration: underline;
}

.logo {
  width: 15rem;
  display: block;
}

.mt {
  margin: 4rem auto;
}

.mb {
  margin-bottom: 2rem;
}

.body {
  background: white;
  color: black;
  padding: 4rem;
  border-radius: 8px;
}

/* SM */
@media (min-width: 480px) {
  .heroText {
    color: #fff !important;
    font-size: 2.5rem !important;
    line-height: 1.2 !important;
  }

  .heroSection {
    margin: 4rem 0;
  }
}
/* MD */
@media (min-width: 730px) {
  .heroText {
    color: #fff !important;
    font-size: 2.5rem !important;
    line-height: 1.2 !important;
  }

  .heroSection {
    margin: 4rem 0;
  }
}
/* LG */
@media (min-width: 1280px) {
  .heroText {
    color: #fff !important;
    font-size: 2rem !important;
    line-height: 1.4 !important;
    margin-bottom: 2rem;
  }

  .heroSection {
    margin: 4rem 0;
  }
}
